.app-container {
    font-family: Arial, sans-serif;
    background-color: #746f6f;
    min-height: 100vh;
  }
  
  /* Navigation bar */
.navbar {
    background-color: #232528;
  }
  
.navbar a {
    color: rgb(18, 9, 9);
    font-weight: bold;
    font-size: 24px;
  }
  
  /* Main content container */
.container {
    padding: 20px;
    background-color: rgb(52, 51, 51);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;
  }
  
  /* Webcam and image container */
.webcam-container {
    text-align: center;
    padding: 20px;
  }
  
.captured-image-container {
    text-align: center;
    padding: 20px;
  }
  
  /* Capture button */
.btn-primary {
    background-color: #363f49;
    color: rgb(183, 172, 198);
    font-weight: bold;
  }
  
.btn-primary:hover {
    background-color: #0e141a;
  }
  
  /* Responsive design */
@media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    .webcam-container, .captured-image-container {
      padding: 10px;
    }
  }
  
  /* Center the text in the capture button */
.btn-primary {
    display: block;
    width: 100%;
    text-align: center;
  }
  
  /* Adjust margins for the capture button */
.btn-primary {
    margin-top: 20px;
  }